%table
  %tr
    %td
      Room:
    %td
      =port.room.name
  %tr
    %td
      Patch1:
    %td
      =port.patch1
  %tr
    %td
      Patch2:
    %td
      =port.patch2
  %tr
    %td
      Patch3:
    %td
      =port.patch3
  %tr
    %td
      Patch4:
    %td
      =port.patch4
  %tr
    %td
      Patch5:
    %td
      =port.patch5
  %tr
    %td
      Patch6:
    %td
      =port.patch6
  %tr
    %td
      Description:
    %td
      =port.description

=link_to 'Edit', edit_port_path(port)
