%table
  %tr
    %td
      Room
    %td
      Patch1
    %td
      Patch2
    %td
      Patch3
    %td
      Patch4
    %td
      Patch5
    %td
      Patch6
  %tr
    %td
      =port.room.name
    %td
      =port.patch1
    %td
      =port.patch2
    %td
      =port.patch3
    %td
      =port.patch4
    %td
      =port.patch5
    %td
      =port.patch6
    %td
      =port.description
    %td
      =link_to 'Edit', edit_port_path(port)
