%h1
  Users

=link_to_remote 'New owner', :url => new_owner_path, :method => :get, :update => 'container'
%table{:class => 'index_table'}
  %tr
    %th
      Name
    %th
      Group
    %th
      Actions
  

  -for owner in @owners 
    %tr{:class => cycle('even','odd'), :id => "owner_#{owner.id}"}
      %td
        =link_to owner.name, owner
      %td
        =link_to owner.group.name, owner.group
      %td
        =link_to_remote 'Destroy', :url => owner, :confirm => 'Are you sure?', :method => :delete 
  
=link_to_remote 'New owner', :url => new_owner_path, :method => :get, :update => 'container'
