%table
  %tr
    %td
      Name:
    %td
      =@owner.name 
  %tr
    %td
      Group:
    %td
      =h @owner.group.name 
  %tr
    %td
      Created at:
    %td
      =h @owner.created_at 

%h3
  Assigned Hardwares
  %table
    %thead
      %th
        Serial
      %th
        Type
    %tbody
      =render :partial => 'assigned_hardware', :collection => @owner.hardwares

%br
=link_to_remote 'Edit', :url => edit_owner_path(@owner), :method => :get, :update => 'container'
