%h1
  Editing owner

-form_for(@owner) do |f| 
  =f.error_messages 

  %p
    =f.label :name 
    =f.text_field :name 
  
  %p
    =select("group","group_id", Group.find(:all).collect {|p| [p.name, p.id]}, { :selected => @owner.group_id}) 
  

  %p
    =f.submit "Update" 
  
=link_to 'Show', @owner  |
=link_to 'Back', owners_path 
