%p
  %b
    Name:
  =h @owner.name 
%p
  %b
    Group:
  =h @owner.group.name 
%p
  %b
    Created at:
  =h @owner.created_at 

%h3
  Assigned Hardwares
-for hardware in @owner.hardwares 
  =link_to hardware.serial_number, hardware 
  =hardware.hardware_type.name

%br
=link_to 'Edit', edit_owner_path(@owner)  
|
=link_to 'Back', owners_path 
