%table{:class => 'index_table'}
  %tr
    %th
      Task name
    %th
      Completion date
    %th
      Actions
  -for task in @completed_tasks 
    %tr
      %td
        =task.task_name
      %td
        =format_date(task.updated_at)
      %td
        =link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete
