%table.index_table
  %tr
    %th Task name
    %th Creation date
    %th Assignee
    %th Actions

  -for task in @uncompleted_tasks 
    %tr{:class => cycle('even','odd')}
      %td=link_to task.task_name, edit_task_path(task)
      %td=format_date(task.created_at)
      %td=task.user.email
      %td=button_to 'Destroy', task, :method => :delete
