body {
  background-color: #FFF;
  color: #333;
  font: 13px Helvetica;
  margin: 0;
  padding: 0; }

h1 {
  text-align: center; }

#container {
  padding: 0 20px;
  margin: 0 15%; }

table.index_table {
  border: 1px solid gray;
  width: 100%;
  text-align: left; }
  table.index_table th {
    border-bottom: 1px solid black;
    background: #e0e0e0;
    width: 1%; }
  table.index_table td {
    padding: 5px 0; }
  table.index_table tr {
    border-bottom: 1px solid #e0e0e0; }
    table.index_table tr:hover {
      color: #111111; }
    table.index_table tr:hover {
      background: #dfecec; }
    table.index_table tr.even {
      background: #eff5f5; }
      table.index_table tr.even:hover {
        background: #dfecec; }
  table.index_table a {
    color: #323232;
    text-decoration: none; }

input {
  border: 1px solid gray; }
  input#ticket_title {
    width: 300px; }
  input#search {
    width: 100%; }

pre {
  background-color: #FAFAFA;
  border: 1px solid #DADADA;
  padding: 5px;
  color: #333;
  font: 13px Helvetica; }

.textarea {
  border: 1px solid #a9a9a9;
  padding: 5px;
  height: 350px;
  overflow-y: scroll; }

hr {
  border: 0px;
  height: 1px;
  background-color: #a9a9a9; }

#title {
  font: 20pt Helvetica; }

#footer {
  border: 1px solid #555555; }

#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left; }
  #header ul li {
    height: 30px;
    float: left; }
    #header ul li a {
      display: block;
      width: 100px;
      text-decoration: none;
      text-align: center;
      padding-top: 6px;
      color: white; }
    #header ul li:hover {
      background: #222222; }
    #header ul li .current {
      height: 34px;
      background: #222222;
      font-weight: 900; }

.logout_link {
  float: right;
  padding: 3px; }

.clear {
  clear: both; }

#header {
  background: #555555; }

.file {
  border: 1px solid #a9a9a9;
  padding: 10px;
  margin: 10px; }

table {
  border-collapse: collapse;
  width: 100%; }

table.show th, tr, td {
  border: 1px solid #a9a9a9;
  padding: 5px; }
