%p
  %b
    Title:
  =h @ticket.title 
%p
  %b
    Body:
  =textilize(@ticket.body) 
%p
  %b
    Hardware:
  =h @ticket.hardware_id 

%p
  %b
    Software:
  =h @ticket.software_id 
%p
  %b
    Document:
  =h @ticket.document_id 


-if @ticket.hardware 
	=link_to 'Edit', edit_hardware_ticket_path(@ticket.hardware, @ticket)  
-elsif @ticket.software 
	=link_to 'Edit', edit_software_ticket_path(@ticket.software, @ticket) 
-else 
	=link_to 'Edit', edit_document_ticket_path(@ticket.document, @ticket) 	
