%table
  =form_for @document, :html => { :multipart => true }, :remote => true do |f|
    %tr
      %td Title
      %td=f.text_field :title
    %tr
      %td Body
      %td=f.text_area :body
    =f.fields_for :attachments do |attachment|  
      %tr
        %td Attachments
        %td=attachment.file_field :file
    %tr
      %td=f.submit "Submit"
