-print_search_form

%h1
  Documents

%table{:class => 'index_table'}
  %thead
    %th
      Title
    %th
      Actions
             
  %tbody
    -for document in @documents
      %tr{:class => cycle('even','odd'), :id => "document_#{document.id}"}
        %td
          =link_to document.title, document 
        %td
          =link_to_remote 'Destroy', :url => document, :confirm => 'Are you sure?', :method => :delete
                           
=link_to_remote 'New document', :url => new_document_path, :method => :get, :update => 'container'
