%h1
  New document

-form_remote_for(@document) do |f| 
  =f.error_messages 

  %p
    =f.label :title 
    =f.text_field :title 
  
  %p
    =f.label :body 
    =f.text_area :body 
  
  %p
    =f.submit "Create" 

=link_to 'Back', documents_path 
