%p
  %b
    Title:
  =h @document.title

%p
  %b
    Body:
    =textilize(@document.body)

=link_to 'Edit', edit_document_path(@document)
|
=link_to 'Back', documents_path

%h2
  New ticket
-form_for :ticket, @ticket, :url => document_ticket_path(@document,@ticket) do |f|
  %p
    =f.label :title
    %br
    =f.text_field :title
  %p
    =f.label :body
    %br
    =f.text_area :body, :rows => 5

  %p
    =f.submit "Create"

%h3
  Current Tickets
-for ticket in @document.tickets
  =link_to ticket.title, document_ticket_path(@document, ticket)
  =ticket.created_at
  =link_to 'Destroy', ticket, :method => :delete
  %br
