%h1
  =@document.title
  =@document.created_at.strftime("%m/%d/%Y")

.textarea
  =raw RedCloth.new(@document.body).to_html

.file
  Files:
  -@document.attachments.each do |file|
    %br
    =link_to file.file_file_name, file.file.url
    =file.file_updated_at
%p
  =link_to 'Edit', edit_document_path(@document)
  =button_to 'Delete', @document, :method => :delete
