%input{ :id => "live-search", :name => "search", :type => "text" }
  =observe_field('live-search', :frequency => 2, :url => softwares_path, :method => :get, :with => "search")
%h1
  Softwares

%table{:class => 'index_table'}
  %thead
    %th
      Name
    %th
      Owner
    %th
      Actions

  %tbody
    -for software in @softwares 
      %tr{:class => cycle('even','odd'), :id => "software_#{software.id}"}
        %td
          =link_to software.name, software
        %td
          =h software.owner 
        %td
          =link_to_remote 'Destroy', :url => software_path(software), :confirm => 'Are you sure?', :method => :delete 

%br
=link_to_remote 'New software', :url => new_software_path, :update => 'container', :method => :get
