%p
  %b
    Name:
  =h @hardware_type.name 

=link_to_remote 'Edit', :url => edit_hardware_type_path(@hardware_type), :method => :get, :update => 'container'
|
=link_to_remote 'Back', :url => hardware_types_path, :method => :get, :update => 'container'
