%h1
  Hardware Types

%table
  %thead
    %th
      Name
    %th{:colspan=>'3'}
      Actions

  -for hardware_type in @hardware_types 
    %tr{:class => cycle('even','odd')}
      %td
        =h hardware_type.name 
      %td
        =link_to 'Show', hardware_type 
      %td
        =link_to 'Edit', edit_hardware_type_path(hardware_type) 
      %td
        =link_to 'Destroy', hardware_type, :confirm => 'Are you sure?', :method => :delete 
  
=link_to 'New hardware_type', new_hardware_type_path 
