%h1
  Listing rooms/cubicles

=link_to 'New room', new_room_path
%table{:class => 'index_table'}
  %thead
    %th
      Name
    %th
      Nickname
    %th
      Action

  -for room in @rooms
    %tr{:class => cycle('even','odd')}
      %td
        =link_to room.name, room
      %td
        =room.nickname
      %td
        =link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete

=link_to 'New room', new_room_path
