%p
  %b
    Name:
  =h @room.name

%p
  %b
    Nickname:
  =h @room.nickname 

=link_to 'Edit', edit_room_path(@room) |

%h3
  Ports
-for port in @room.ports
  =link_to port.patch1, port_path(port)
  %br
