-print_search_form

%h1
  Hardwares

%table{:class => 'index_table'}
  %tr
    %th
      SN
    %th
      Type
    %th
      User
    %th
      Action

  -for hardware in @hardwares
    %tr{:class => cycle('even','odd'), :id => "hardware_#{hardware.id}"}
      %td
        =link_to hardware.serial_number, hardware_path(hardware.id)
      %td
        =h hardware.hardware_type.name
      %td
        =h hardware.owner.name if hardware.owner
      %td
        =link_to_remote 'Destroy', :url => hardware_path(hardware), :confirm => 'Are you sure?', :method => :delete 

= link_to_remote 'New hardware', :url => new_hardware_path, :update => 'container', :method => :get
