%h1
  New hardware

-remote_form_for(@hardware) do |f| 
  =f.error_messages 

  %table
    %tr
      %td
        =f.label :hardware_type
      %td
        =select("hardware_type","hardware_type_id", HardwareType.find(:all).collect {|p| [p.name, p.id]}, { :include_blank => true}) 
    %tr
      %td
        =f.label :serial_number 
      %td
        =f.text_field :serial_number 
    %tr
      %td
        =f.label :brand 
      %td
        =f.text_field :brand 
    %tr
      %td
        =f.label :model 
      %td
        =f.text_field :model 
    %tr
      %td
        =f.label :ip 
      %td
        =f.text_field :ip 
    %tr
      %td
        =f.label :mac 
      %td
        =f.text_field :mac 
    %tr
      %td
        =f.label :owner
      %td
        =select("owner","owner_id", Owner.find(:all, :order => "name").collect {|p| [p.name, p.id]}, { :include_blank => true }) 
    %tr
      %td
        =f.label :description 
      %td
        =f.text_area :description 
    %tr
      %td
        =f.submit "Create" 
