%h1
  Hardware

%table
  %tr
    %td
      %b
        Created On:
    %td
      =h @hardware.created_at.strftime("%m/%d/%Y")
  %tr
    %td
      %b
        Hardware Type:
    %td
      %b
      =h @hardware.hardware_type.name 
  %tr
    %td
      %b
        Serial Number:
    %td
      =h @hardware.serial_number 
  %tr	
    %td
      %b
        Brand:
    %td
      =h @hardware.brand 
  %tr
    %td
      %b
        Model:
    %td
      =h @hardware.model 
  %tr	
    %td
      %b
        Ip:
    %td
      =h @hardware.ip 
  %tr
    %td
      %b
        Mac:
    %td
      =h @hardware.mac 

  %tr
    %td
      %b
        Current User:
    %td
      =@hardware.owner.name if @hardware.owner

  %tr
    %td
      %b
        Description:
    %td
      =raw RedCloth.new(@hardware.description).to_html


%p
  =link_to'Edit', edit_hardware_path(@hardware)
  =button_to 'Delete', @hardware, :method => :delete


%hr
%h3
  Current Tickets
#current_tickets
  =render :partial => 'tickets/ticket', :collection => @hardware.tickets

%hr
%h3
  New ticket
=form_for [@hardware, @ticket], new_hardware_ticket_path(@hardware, @ticket) do |f|
  =render :partial => 'tickets/new_ticket.haml', :locals => {:f => f}
  =f.submit "Create" 
