%p
  %b
    Created On:
  =h @hardware.created_at.strftime("%m/%d/%Y")
%p
  %b
    Hardware Type:
  =h @hardware.hardware_type.name 
%p
  %b
    Serial Number:
  =h @hardware.serial_number 
%p	
  %b
    Brand:
  =h @hardware.brand 
%p
  %b
    Model:
  =h @hardware.model 
%p	
  %b
    Ip:
  =h @hardware.ip 
%p
  %b
    Mac:
  =h @hardware.mac 
</p>

%p
  %b
    Description:
  =textilize(@hardware.description) 

-if @hardware.owner 
  %p
    %b
      Current User: 
      =h @hardware.owner.name 

=link_to 'Edit', edit_hardware_path(@hardware)  |
=link_to 'Back', hardwares_path 


%h2
  User Assignment 
-form_for(@hardware) do |f| 
  =select("owner","owner_id", Owner.find(:all, :order => "name").collect {|p| [p.name, p.id]}, { :include_blank => false, :selected => @hardware.owner.id}) 
  =f.submit "Add User" 


%h2
  New ticket
-form_for :ticket, @ticket, :url => hardware_ticket_path(@hardware,@ticket) do |f| 
  %p
    =f.label :title
    %br
    =f.text_field :title 
  %p
    =f.label :body
    %br
    =f.text_area :body, :rows => 5 
  %p
    =f.submit "Create" 

%h3
  Current Tickets
-for ticket in @hardware.tickets 
  =link_to ticket.title, hardware_ticket_path(@hardware, ticket) 
  %br
  =link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete
