!!! XML                                                                                
!!! strict                 
%html{:xmlns => "http://www.w3.org/1999/xhtml"} 
  %head
    %title                 
      =yield :title 
    =javascript_include_tag 'application'
    =javascript_include_tag 'jquery_ujs.js'
    =stylesheet_link_tag 'style'
    =csrf_meta_tag 
  %body
    #body_container
      #header
        =render 'layouts/menu' if user_signed_in?

      %p.notice
        =notice
      %p.alert
        =alert
      #busy{:style => "display: none"}
        %img{:src => '/images/loader.gif'}
      #container
        =yield
      #footer
